    body {
      font-family: monospace;
      background-color: #fee440;
    }

    .main {
      display: grid;
      justify-content: center;
      justify-items: center;
    }

    .main img {
      width: 100px;
    }

    .main h1 {
      font-size: 48px;
      margin: 20px;
      text-align: center;
    }

    .main p {
      font-size: 20px;
      line-height: 40px;
      width: -webkit-fill-available;
      text-align: center;
    }

    #results {
      max-height: 325px;
      overflow: auto;
      background-color: hsl(0deg 0% 100% / 44%);
      border-radius: 10px;
    }

    .main form {
      display: grid;
      grid-template-columns: 1fr 120px;
      width: 100%;
    }

    .main form * {
      padding: 10px;
      margin: 10px;
      font-family: monospace;
      font-weight: bold;
      font-size: 18px;
      border: 3px solid black;
      border-radius: 10px;
    }

    #guessButton {
      background-color: #b2deff;
      cursor: pointer;
    }

    #guessButton:hover {
      background-color: #88c9fa;
    }
